## Archivos de compilacion de .NET
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Archivos de usuario de Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.rsuser

## Resultados de publicacion
[Pp]ublish/
*.publishsettings
PublishScripts/

## NuGet
*.nupkg
*.snupkg
packages/
!packages/build/

## Varios
*.cache
*.log
*.tmp
Thumbs.db
.DS_Store
